
@{
    ViewData["Title"] = "TastVuejs";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
    }
<div id="app"></div>
<h1>TastVuejs</h1>
@section js{
              <script>
                  var app=Vue.CreateApp({
                      data(){
                          return{

                          }
                          methodes:{

                          }
                          Created:{

                          }
                          Updated:{

                          }
                          mounted:{

                          }
                      }
                  }).mount('#app')
              </script>
}

